:root {
  font-family: "Caveat", cursive;
}

em {
  font-weight: bold;
  font-size: 1.5rem;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(background.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

header {
  background-color: rgba(0, 0, 0, 0.648);
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: min(10em, 5vw);
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

header h1 {
  font-size: 4rem;
  color: wheat;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: min(5em, 10vw);
}

header nav button {
  font-family: "Caveat", cursive;
  outline-style: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: wheat;
  font-size: min(3rem, 10vw);
}

.content {
  background-color: rgba(255, 228, 196, 0.741);
  padding: 1em 5em;
  width: 70%;
  height: 1fr;
}

.our-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-story p,
h1,
h2,
em {
  margin: 1rem;
  text-align: center;
}

.content h1 {
  color: #0021a4;
  font-size: 5rem;
  margin-bottom: 0.5em;
}

.content h2 {
  font-size: 2rem;
}

.content p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.image-container {
  margin-top: 1em;
  display: flex;
  gap: 10px;
}

.image-container img {
  overflow: hidden;
  max-width: 100%;
}
